body {
background: linear-gradient(160deg, var(--primary-bg-color) 0%, black 100%);  color: var(--primary-text-color);
  padding-bottom: 100px;
}

.navbar-link {
  font-size: 1.4rem;
  font-weight: 700;
  color: lightgray;
  transition: 0.1s;
}

.navbar-link:hover {
  cursor: pointer;
  filter: brightness(1.3);

}

.home-main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  position: relative;
}

.homepage-bg-image {
  width: 100%;
  height: 100%;
  filter: grayscale(1);
  opacity: 0.1;
  animation: background-movement 5s infinite ease-in-out alternate;
  position: absolute;
}

@keyframes background-movement {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

.homepage-link {
  font-size: 2rem;
  color: var(--primary-text-color);
  z-index: 10;
  transition: 0.1s;
  border: 1px solid var(--primary-text-color);
  padding: 20px 50px;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    filter: brightness(1.5);
    background-color: rgba(255, 255, 255, 0.054);
  }
}

.calendar-main-div {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 5vh 3vw 0px;
  min-height: 90vh;
  column-gap: 6vw;
}

/* for smaller screens */
@media (max-width: 700px) {
  .calendar-main-div {
    flex-direction: column;
    row-gap: 5vh;
  }
}

.calendar-display--left {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 100px;
  padding-right: 3vw;
  border-right: 1px solid rgb(44, 44, 44);
}

.calendar-display--right {
flex: 1;

}

.calendar-image-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--primary-text-color);
  font-size: 1.8rem;
  font-weight: 800;
  padding-top: 22px;
}

.datepicker-arrow {
  transition: 0.1s;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.datepicker-display:hover {
  cursor: pointer;
}

.add-event-btn {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  background: none;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding: 20px;
  color: var(--primary-text-color);
  font-size: 1.5rem;
  transition: 0.1s;
  & img {
    width: 100%;
    height: 100%
  }
  &:hover {
    filter: brightness(1.5);
    cursor: pointer;
        background-color: rgba(255, 255, 255, 0.054);

  }
}

.display-event-row {
  border: 1px solid darkgray;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 10px;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: space-between;
  width: 100%;
}

.display-event-row:nth-child(2n) {
  background-color: rgba(255, 255, 255, 0.043);
}

.display-event-details-btn {
  background: none;
  border: 1px solid var(--primary-text-color);
  border-radius: 5px;
  color: lightgray;
  padding: 0px 20px;
  transition: 0.1s;
  &:hover {
    cursor: pointer;
    filter: brightness(1.5);
    background-color: rgba(255, 255, 255, 0.054);
  }
}

.add-event-form > label > input,
.add-event-form > label > select,
.add-event-form > fieldset > label > input,
.add-event-form > fieldset > label > select {
  background: none;
  color: white;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 1.1rem;
  margin-left: 20px;
}

.add-event-submit-btn {
  background: none;
  color: lightgray;
  font-size: 1.6rem;
  padding: 10px 40px;
  border: 1px solid lightgray;
  border-radius:5px;
  background-color: rgba(0, 128, 0, 0.261);
  transition: 0.1s;
  &:hover {
    cursor: pointer;
    filter: brightness(1.5);
  }
}