body {
  background: var(--primary-bg-color);
  color: var(--primary-text-color);
}

.navbar-link {
  font-size: 1.3rem;
  color: var(--primary-text-color);
  transition: 0.1s;
}

.navbar-link:hover {
  cursor: pointer;
  filter: brightness(1.3);
}

.home-main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  position: relative;
}

.homepage-bg-image {
  width: 100%;
  height: 100%;
  filter: grayscale(1);
  opacity: 0.1;
  animation: background-movement 5s infinite ease-in-out alternate;
  position: absolute;
}

@keyframes background-movement {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

.homepage-link {
  font-size: 2rem;
  color: var(--primary-text-color);
  z-index: 10;
  transition: 0.1s;
  border: 1px solid var(--primary-text-color);
  padding: 20px 50px;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    filter: brightness(1.5);
    background-color: rgba(255, 255, 255, 0.054);
  }
}

.calendar-main-div {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0px 3vw;
  min-height: 90vh;
}

/* for smaller screens */
@media (max-width: 700px) {
  .calendar-main.div {
    flex-direction: column;
  }
}

.calendar-display--left {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 100px;
}

.calendar-image-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--primary-text-color);
  font-size: 1.8rem;
  font-weight: 800;
  padding-top: 22px;
}

.datepicker-arrow {
  transition: 0.1s;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.datepicker-display:hover {
  cursor: pointer;
}

.add-event-btn {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  background: none;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding: 20px;
  color: var(--primary-text-color);
  font-size: 1.5rem;
  transition: 0.1s;
  & img {
    width: 100%;
    height: 100%
  }
  &:hover {
    filter: brightness(1.5);
    cursor: pointer;
        background-color: rgba(255, 255, 255, 0.054);

  }
}